body {
  background-color: #f7f7f7;
}
hr {
  border-style: dotted none none;
  width: 5%;
  height: 0px;
  border-color: #cceabb;
  border-width: 8px;
}
h1 {
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
